<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<!-- Mapper에서 resultType을 간단히 줄여쓰기 위해 typeAlias를 활용 -->
		<typeAlias type="kr.kh.team4.model.vo.member.MemberVO" alias="MemberVO"/>
		<typeAlias type="kr.kh.team4.model.vo.book.BookVO" alias="BookVO"/>
		<typeAlias type="kr.kh.team4.model.vo.member.GradeVO" alias="GradeVO"/>
		<typeAlias type="kr.kh.team4.model.vo.member.ReportVO" alias="ReportVO"/>
		<typeAlias type="kr.kh.team4.model.vo.member.MemberStateVO" alias="MemberStateVO"/>
		
		<typeAlias type="kr.kh.team4.model.vo.post.CategoryVO" alias="CategoryVO"/>
		<typeAlias type="kr.kh.team4.model.vo.post.PostVO" alias="PostVO"/>
		<typeAlias type="kr.kh.team4.model.vo.post.CommentVO" alias="CommentVO"/>
		<typeAlias type="kr.kh.team4.model.vo.post.HeartVO" alias="HeartVO"/>
	</typeAliases>
</configuration>