.cf:after{
	clear: both; display: block; content: "";
}

*{margin: 0;padding: 0;}

.display-block{ display: block; }

.click{ cursor: pointer; }

.display-none{ display: none; }

.left{ float: left;}

.right{ float: right;}

.main{max-height: 100%;}

li{list-style: none;}

a{text-decoration: none; color: #000; }

.side-bar{box-sizing: border-box;}

.book-main{box-sizing: border-box;}
