<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.team4.dao.BookDAO">
	<insert id="insertBook">
		insert into book(bo_title,bo_contents,bo_date,bo_publisher,bo_price,bo_sale_price,bo_thumbnail,
		bo_isbn,bo_un_num,bo_code) 
		value(#{book.title},#{book.contents},#{book.datetime},#{book.publisher},#{book.price},
		#{book.sale_price},#{book.thumbnail},#{book.isbn},1,"미정")
	</insert>
	<select id="getUpperList" resultType="kr.kh.team4.model.vo.book.UpperVO">
		select * from upper
	</select>
	<select id="getUnderList" resultType="kr.kh.team4.model.vo.book.UnderVO">
		select * from under
	</select>
	<select id="getUnder" resultType="kr.kh.team4.model.vo.book.UnderVO">
		select * from under where un_up_num=#{num} order by un_code
	</select>
	<select id="selectBookNum" resultType="int">
		select bo_num from book where bo_isbn=#{isbn} ORDER BY bo_num DESC LIMIT 1
	</select>
	<insert id="insertAuthors">
		insert into authors value(null,#{authors},#{bo_num})
	</insert>
	<insert id="insertTranslators">
		insert into translators value(null,#{translators},#{bo_num})
	</insert>
	<select id="getBookList" resultType="BookVO">
		SELECT book.*,(au_name)as bo_au_name,(tr_name)as bo_tr_name FROM 
		book 
		join authors 
			on bo_num=au_bo_num 
		join translators 
			on bo_num=tr_bo_num
		where
		<choose>
			<when test='cri.type=="all"'>
				bo_title like concat('%', #{cri.search}, '%') or
				bo_publisher like concat('%', #{cri.search}, '%') or
				au_name like concat('%', #{cri.search}, '%')
			</when>
			<when test='cri.type=="title"'>
				bo_title like concat('%', #{cri.search}, '%') 
			</when>
			<when test='cri.type=="authors"'>
				au_name like concat('%', #{cri.search}, '%')
			</when>
			<when test='cri.type=="code"'>
				bo_un_num=#{cri.search}
			</when>
			<otherwise>
				bo_publisher like concat('%', #{cri.search}, '%') 
			</otherwise>
		</choose>
		<if test='cri.bo_code==1'>
			order by bo_title, bo_code
		</if>
		<if test='cri.bo_code==2'>
			GROUP BY bo_title
			order by bo_title, bo_code
		</if>
		<if test='cri.bo_code==3'>
			order by case bo_code when "미정" then 1 else 2 end
		</if>
		LIMIT #{cri.pageStart}, #{cri.perPageNum}
	</select>
	
	<select id="getTotalCount" resultType="int">
		select 
		
		<choose>
			<when test='cri.bo_code==2'>
				count(DISTINCT bo_isbn)
			</when>
			<otherwise>
				count(*) 
			</otherwise>
		</choose>
		from book 
		join authors 
			on bo_num=au_bo_num 
		join translators 
			on bo_num=tr_bo_num
		where
		<choose>
			<when test='cri.type=="all"'>
				bo_title like concat('%', #{cri.search}, '%') or
				bo_publisher like concat('%', #{cri.search}, '%') or
				au_name like concat('%', #{cri.search}, '%')
			</when>
			<when test='cri.type=="title"'>
				bo_title like concat('%', #{cri.search}, '%') 
			</when>
			<when test='cri.type=="authors"'>
				au_name like concat('%', #{cri.search}, '%')
			</when>
			<when test='cri.type=="code"'>
				bo_un_num = #{cri.search}
			</when>
			<otherwise>
				bo_publisher like concat('%', #{cri.search}, '%') 
			</otherwise>
		</choose>
		<choose>
			<when test='cri.bo_code==2'>
				order by bo_title, bo_code
			</when>
			<otherwise>
				order by case bo_code when "미정" then 1 else 2 end
			</otherwise>
		</choose>
	</select>
	
	<select id="selectBookList" resultType="BookVO">
		select * from book order by bo_title,bo_code
	</select>
	
	<update id="updateBook">
		update book set bo_code=#{bo_code},bo_un_num=#{un_num} where bo_num=#{bo_num}
	</update>
	
	<delete id="deleteBook">
		delete from book where bo_num=#{bo_num}
	</delete>
	
	<select id="getBook" resultType="BookVO">
		select book.*,(au_name)as bo_au_name,(tr_name)as bo_tr_name from  
		book 
		join authors 
			on bo_num=au_bo_num 
		join translators 
			on bo_num=tr_bo_num
		where bo_num=#{bo_num}
	</select>
	<select id="getBookIsbn" resultType="BookVO">
		select * from book where bo_isbn=#{bo_isbn}
	</select>
	<insert id="insertUpper">
		insert into upper value(#{up_num},#{up_name})
	</insert>
	
	<insert id="insertLoan">
		insert into loan(lo_date, lo_return, lo_limit, lo_state, lo_me_id, lo_bo_num) 
		value(now(), null, date_add(now(),interval 7 day), 1, #{me_id}, #{bo_num})
	</insert>
	
	<select id="selectLoan" resultType="LoanVO">
		select * from loan join book on bo_num = lo_bo_num where bo_num = #{bo_num}
	</select>
	
	<update id="updateLoan">
		update loan set lo_limit = date_add(lo_limit, interval 7 day) where lo_me_id = #{me_id} and lo_bo_num = #{bo_num}
	</update>
	
	<select id="selectLoanList" resultType="LoanVO">
		select * from loan join book on bo_num = lo_bo_num where bo_isbn = #{bo_isbn}
	</select>
	
	<delete id="deleteUpper">
		delete from upper where up_num=#{up_num}
	</delete>
	<insert id="insertUnder">
		insert into under(un_name,un_code,un_up_num)
		value(#{under.unName},#{under.unCode},#{under.un_upNum})
	</insert>
	<delete id="deleteUnder">
		delete from under where un_num=#{un_num}
	</delete>
	
	<insert id="insertReserve">
		insert into reserve(re_date, re_state, re_bo_num, re_me_id)
		select date_add(lo_limit,interval 3 day), 1, #{bo_num}, #{me_id} from loan where lo_bo_num = #{bo_num}
	</insert>

	<delete id="deleteLoan">
		delete from loan where lo_bo_num = #{bo_num}
	</delete>
	
	<select id="selectReserveList" resultType="ReserveVO">
		select * from reserve where re_bo_num = #{bo_num}
	</select>
	
	<select id="selectReviewList" resultType="ReviewVO">
		select 
 			review.*, member.me_nick, 
 			sum(case when op_state = 1 then 1 else 0 end) as rv_up,
 			 sum(case when op_state = -1 then 1 else 0 end) as rv_down
		from 
			review 
				join
			member on me_id = rv_me_id
				left join
			opinion on rv_num = op_rv_num
		where 
			rv_bo_num = #{cri.search}
		group by
			rv_num
 		order by
 			rv_num desc
 		limit 
 			#{cri.pageStart}, #{cri.perPageNum}	
	</select>
	
	<select id="selectTotalCountReview" resultType="int">
		select count(*) from review where rv_bo_num = #{cri.search}
	</select>
	
	<insert id="insertReview">
		insert into review(rv_content, rv_score, rv_date, rv_me_id, rv_bo_num)
		value(#{review.rv_content}, #{review.rv_score}, now(), #{review.rv_me_id}, #{review.rv_bo_num})
	</insert>
	
	<select id="selectReview" resultType="ReviewVO">
		select review.*,
			 sum(case when op_state = 1 then 1 else 0 end) as rv_up,
			 sum(case when op_state = -1 then 1 else 0 end) as rv_down
		from 
			review
		left join 
			opinion on op_rv_num = rv_num
		where rv_num = #{rv_num}
	</select>
	
	<delete id="deleteReview">
		delete from review where rv_num = #{rv_num}
	</delete>
	
	<update id="updateReview">
		update review set 
			rv_content = #{review.rv_content},
			rv_score = #{review.rv_score},
			rv_date = now()
		where
			rv_num = #{review.rv_num}
	</update>
	
	<select id="selectAvgReview" resultType="ReviewVO">
		select round(avg(rv_score), 1) as avgScore from review where rv_bo_num = #{bo_num}
	</select>
	
	<select id="selectOpinion" resultType="OpinionVO">
		select * from opinion where op_rv_num = #{op.op_rv_num} and op_me_id = #{op.op_me_id}
	</select>
	
	<insert id="insertOpinion">
		insert into opinion(op_state, op_rv_num, op_me_id)
		values(1, #{op.op_rv_num}, #{op.op_me_id})
	</insert>
	
	<delete id="updateOpinion">
		update opinion set op_state = #{op.op_state}
		where op_rv_num = #{op.op_rv_num} and op_me_id = #{op.op_me_id}
	</delete>
	
	<select id="selectLoanBookList" resultType="BookVO">
		select * from book 
		join 
			loan on lo_bo_num = bo_num
		join 
			member on lo_me_id = me_id
		where
			lo_state = 1
			<if test='cri.type=="all"'>
				and (bo_title like concat('%', #{cri.search}, '%') or
				bo_publisher like concat('%', #{cri.search}, '%'))
			</if>
			<if test='cri.type=="title"'>
				and bo_title like concat('%', #{cri.search}, '%') 
			</if>
			<if test='cri.type=="publisher"'>
				and bo_publisher like concat('%', #{cri.search}, '%') 
			</if>
		group by
			bo_num
		order by
			lo_limit asc
		LIMIT #{cri.pageStart}, #{cri.perPageNum}
	</select>
	
	<select id="selectTotalCountLoanBook" resultType="int">
		select count(*) from book 
		join 
			loan on lo_bo_num = bo_num
		join 
			member on lo_me_id = me_id
		where
			lo_state = 1
			<if test='cri.type=="all"'>
				and (bo_title like concat('%', #{cri.search}, '%') or
				bo_publisher like concat('%', #{cri.search}, '%'))
			</if>
			<if test='cri.type=="title"'>
				and bo_title like concat('%', #{cri.search}, '%') 
			</if>
			<if test='cri.type=="publisher"'>
				and bo_publisher like concat('%', #{cri.search}, '%') 
			</if>
	</select>
	
	<delete id="deleteReserve">
		delete from reserve where re_bo_num = #{bo_num} and re_me_id = #{me_id}
	</delete>
</mapper>