<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.team4.dao.BookDAO">
	<insert id="insertBook">
		insert into book(bo_title,bo_contents,bo_date,bo_publisher,bo_price,bo_sale_price,bo_thumbnail,
		bo_isbn,bo_un_num,bo_code) 
		value(#{book.title},#{book.contents},#{book.datetime},#{book.publisher},#{book.price},
		#{book.sale_price},#{book.thumbnail},#{book.isbn},13,"미정")
	</insert>
	<select id="getUpperList" resultType="kr.kh.team4.model.vo.book.UpperVO">
		select * from upper
	</select>
	<select id="getUnderList" resultType="kr.kh.team4.model.vo.book.UnderVO">
		select * from under
	</select>
	<select id="selectBookNum" resultType="int">
		select bo_num from book where bo_isbn=#{isbn}
	</select>
	<insert id="insertAuthors">
		insert into authors value(null,#{authors},#{bo_num})
	</insert>
	<insert id="insertTranslators">
		insert into translators value(null,#{translators},#{bo_num})
	</insert>
	<select id="getBookList" resultType="BookVO">
		SELECT book.*,(au_name)as bo_au_name,(tr_name)as bo_tr_name FROM 
		book 
		join authors 
			on bo_num=au_bo_num 
		join translators 
			on bo_num=tr_bo_num
		where
		<choose>
			<when test='cri.type=="all"'>
				bo_title like concat('%', #{cri.search}, '%') or
				bo_publisher like concat('%', #{cri.search}, '%') or
				au_name like concat('%', #{cri.search}, '%')
			</when>
			<when test='cri.type=="title"'>
				bo_title like concat('%', #{cri.search}, '%') 
			</when>
			<when test='cri.type=="authors"'>
				au_name like concat('%', #{cri.search}, '%')
			</when>
			<otherwise>
				bo_publisher like concat('%', #{cri.search}, '%') 
			</otherwise>
		</choose>
		order by case bo_code when "미정" then 1 else 2 end
		LIMIT #{cri.pageStart}, #{cri.perPageNum}
	</select>
	<select id="getTotalCount" resultType="int">
		select count(*) from book 
		join authors 
			on bo_num=au_bo_num 
		join translators 
			on bo_num=tr_bo_num
		where
		<choose>
			<when test='cri.type=="all"'>
				bo_title like concat('%', #{cri.search}, '%') or
				bo_publisher like concat('%', #{cri.search}, '%') or
				au_name like concat('%', #{cri.search}, '%')
			</when>
			<when test='cri.type=="title"'>
				bo_title like concat('%', #{cri.search}, '%') 
			</when>
			<when test='cri.type=="authors"'>
				au_name like concat('%', #{cri.search}, '%')
			</when>
			<otherwise>
				bo_publisher like concat('%', #{cri.search}, '%') 
			</otherwise>
		</choose>
		order by case bo_code when "미정" then 1 else 2 end
	</select>
</mapper>
