<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.team4.dao.PostDAO">
 	<select id="selectCategoryList" resultType="CategoryVO">
 		select * from category 
 	</select>
 	
 	<select id="selectPostList" resultType="PostVO">
 		select 
 			post.*, category.*, count(co_num) as po_co_count,
			SUM(CASE WHEN he_state = 1 THEN 1 ELSE 0 END) AS po_totalHeart 
		from 
			post
				join 
			category on po_ca_num = ca_num
				left join 
			heart on he_po_num = po_num 
				left join 
			comment on co_po_num = po_num 
 		<if test="cri.ca != 0">
 			where po_ca_num = #{cri.ca}
 		</if>
 		order by po_num desc
 		limit #{cri.pageStart} , #{cri.perPageNum}
 	</select>
 	
 	<select id="totalCountPost" resultType="int">
 		select count(*) from post
 		join category on po_ca_num = ca_num
		<if test="cri.ca != 0">
	 		where 
 				po_ca_num = #{cri.ca}
		</if>
 	</select>
</mapper>